<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MemoryShots</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="../static/img/favicon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/static/lib/owlcarousel/assets/owl.carousel.min.css}" href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link th:href="@{/static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />


    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/static/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/static/css/style.css}" href="../static/css/style.css" rel="stylesheet">
    <link th:href="@{/static/dist/simple-lightbox.css}" rel="stylesheet" href="../static/dist/simple-lightbox.css?v2.13.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <!--vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!--axios-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="#" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>MemoryShots</h3>
                </a>
                <div class="navbar-nav w-100">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/MemoryShots_main/" class="dropdown-item">album</a>
                            <a href="/MemoryShots_member/" class="dropdown-item">member info</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->

        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars text-primary"></i>
                </a>
                <div class="navbar-nav align-items-center ms-auto">
                    <!--swagger-->
                    <span style="padding-right:10px">
                        <a href="/swagger-ui/index.html" target="_blank" style="color:white;">
                            <span>
                                <img src="https://static1.smartbear.co/swagger/media/assets/swagger_fav.png">
                            </span>Swagger</a>
                    </span>
                    <!--swagger-->
                    <!--github-->
                    <span>
                        <a href="https://github.com/James40066/MemoryShots" target="_blank" style="color:white;">
                            <span>
                            <img src="../static/img/github-mark-white.png" width="32px" height="32px">
                            </span>GitHub</a>
                    </span>
                    <!--github-->
                    <div class="nav-item dropdown">
                        <!--vueModel-->
                        <div id = "member_info">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                <img class="rounded-circle me-lg-2" src="../static/img/0001.jpg" alt="" style="width: 40px; height: 40px;">
                                <span class="d-none d-lg-inline-flex" style="color: white;">{{member_Name}}</span>
                                <input id="member_id" type="hidden"  v-model="member_id">
                                <input id="member_Name" type="hidden"  v-model="member_Name">
                            </a>
                            <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                                <a href="/MemoryShots/doLogOut" class="dropdown-item">Log Out</a>
                            </div>
                        </div>
                        <!--vueModel-->
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->

            <!-- member -->
            <div class="container-fluid animate__animated animate__fadeInLeftBig">
                <div class="row h-100 align-items-center justify-content-center" style="min-height: 82vh;">
                    <div class="col-12 col-sm-8 col-md-6">
                        <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                            <!--vueModel-->
                            <div id="member_table">
                                <form>
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                        <a href="#" class="">
                                            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>MemoryShots</h3>
                                        </a>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <p id="alert" style="color: red;">{{alert}}</p>
                                    </div>

                                    <div class="input-group mb-3">
                                        <span class="input-group-text">user name</span>
                                        <input type="text" id="User_name" class="form-control" placeholder="Username" aria-label="Username"
                                               aria-describedby="basic-addon1" v-model="User_name">
                                    </div>

                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Email address</span>
                                        <input type="email" id="Email" class="form-control" placeholder="name@example.com" v-model="Email"
                                               aria-label="Username" aria-describedby="basic-addon1">
                                    </div>

                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Password</span>
                                        <input type="email" id="Password1" class="form-control" placeholder="Password" v-model="Password"
                                               aria-label="Username" aria-describedby="basic-addon1">
                                    </div>

                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Repeat Password</span>
                                        <input type="email" id="Password2" class="form-control" placeholder="Repeat Password" v-model="Repeat_Password"
                                               aria-label="Username" aria-describedby="basic-addon1">
                                    </div>

                                    <a href="#"class="btn btn-primary py-3 w-100 mb-4" v-on:click="submit">save</a>
                                </form>
                            </div>
                            <!--vueModel-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- member -->

        </div>
        <!-- Content End -->

    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:href="@{/MemoryShots/static/lib/chart/chart.min.js}" src="../static/lib/chart/chart.min.js"></script>
    <script th:href="@{/MemoryShots/static/lib/easing/easing.min.js}" src="../static/lib/easing/easing.min.js"></script>
    <script th:href="@{/MemoryShots/static/lib/waypoints/waypoints.min.js}" src="../static/lib/waypoints/waypoints.min.js"></script>
    <script th:href="@{/MemoryShots/static/lib/owlcarousel/owl.carousel.min.js}" src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script th:href="@{/MemoryShots/static/lib/tempusdominus/js/moment.min.js}" src="../static/lib/tempusdominus/js/moment.min.js"></script>
    <script th:href="@{/MemoryShots/static/lib/tempusdominus/js/moment-timezone.min.js}" src="../static/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script th:href="@{/MemoryShots/static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}" src="../static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script th:href="@{/MemoryShots/static/js/main.js}" src="../static/js/main.js"></script>

    <script th:inline="javascript">
        //member_info_init
        var member_info = new Vue({
            el: '#member_info',
            data:{
                member_id : [[${member_id}]],
                member_Name : [[${member_Name}]]
            }
        })

        function get_member(){
            var url = '/MemoryShots_member/get_member/' + member_info.member_id
            axios.get(url)
                .then(function (response) {
                    console.log(JSON.stringify(response));
                    member_table.member_id = response.data.memberId;
                    member_table.User_name = response.data.name;
                    member_table.Email = response.data.email;
                })
                .catch(function (error) {
                    console.log(error);
                });
        }

        //member_table
        var member_table = new Vue({
            el: '#member_table',
            data:{
                member_id : '',
                User_name : '',
                Email : '',
                Password : '',
                Repeat_Password : '',
                alert : ''
            },created: function() {
                get_member();
            },
            methods: {
                submit: function() {
                    if(this.User_name == ""){
                        this.alert = 'user name不可為空白';
                        $('#User_name').focus();
                        return;
                    }

                    if(this.Email == ""){
                        this.alert = 'Email不可為空白';
                        $('#Email').focus();
                        return;
                    }

                    if(this.Password != "" || this.Repeat_Password != ""){

                        if(this.Password == ""){
                            this.alert = 'Password不可為空白';
                            $('#Password2').focus();
                            return;
                        }

                        if(this.Repeat_Password == ""){
                            this.alert = 'Repeat Password不可為空白';
                            $('#Password2').focus();
                            return;
                        }

                        if(this.Password != this.Repeat_Password){
                            this.alert = 'Password不一致';
                            $('#Password2').focus();
                            return;
                        }

                    }

                    $('#alert').text('');

                    var url = '/MemoryShots_member/update_ember/' + member_info.member_id;
                    console.log("url=>" + url);

                    axios.put(url, {
                        email: this.Email,
                        name: this.User_name,
                        pwd: this.Password
                    })
                        .then(function (response) {
                            console.log(JSON.stringify(response));
                            if(response.data == '更新成功'){
                                alert("更新成功，請重新登入");
                                window.location.href = "/MemoryShots/signIn";
                            }else{
                                $('#alert').text('更新失敗');
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });

                }
            }
        })







    </script>
</body>

</html>