<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MemoryShots</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="../static/img/favicon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/static/lib/owlcarousel/assets/owl.carousel.min.css}" href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link th:href="@{/static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />


    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/static/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/static/css/style.css}" href="../static/css/style.css" rel="stylesheet">
    <link th:href="@{/static/dist/simple-lightbox.css}" rel="stylesheet" href="../static/dist/simple-lightbox.css?v2.13.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <!--vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!--axios-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-secondary navbar-dark">
            <a href="index.html" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>MemoryShots</h3>
            </a>
            <div class="navbar-nav w-100">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="/MemoryShots_main/" class="dropdown-item">album</a>
                        <a href="/MemoryShots_main/" class="dropdown-item">member info</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Sidebar End -->

    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
            <a href="#" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars text-primary"></i>
            </a>

            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    <!--vueModel-->
                    <div id = "member_info">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="../static/img/0001.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex" style="color: white;">{{member_Name}}</span>
                            <input id="member_id" type="hidden"  v-model="member_id">
                            <input id="member_Name" type="hidden"  v-model="member_Name">
                            <input id="albumId" type="hidden"  v-model="albumId">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="/MemoryShots/doLogOut" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                    <!--vueModel-->
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <!-- Blank Start -->
        <div class="container-fluid py-4 px-4">
            <div class="row bg-secondary rounded justify-content-center mx-0" style="min-height: 85vh !important;">
                <!--vueModel-->
                <div id="table_data" class="d-flex justify-content-between flex-column">
                    <!--table-->
                    <div class="gallery" style="margin-top: 10px;">
                        <div id="nanogallery2"></div>
                    </div>
                    <!--table-->
                    <!--PageButtom-->
                    <div class="bg-secondary rounded p-4 d-flex align-items-end justify-content-center">
                        <div class="btn-toolbar" role="toolbar" style="justify-content: center;">
                            <div class="btn-group me-2" role="group" aria-label="First group">
                                <button type="button" class="btn bts" @click="callAjax(page)"
                                        v-for=" page in totalPages" :key="page"
                                        :class="{ 'btn-secondary': currentPage === page ,'btn-primary': currentPage !== page}">
                                    {{ page }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--PageButtom-->
                </div>
                <!--vueModel-->
            </div>
        </div>
        <!-- Blank End -->
    </div>
    <!-- Content End -->
    <div id="upload_form">
        <label class="btn btn-lg btn-primary btn-lg-square back-to-top" >
            <input id="upload_img" style="display:none;" type="file" accept="image/jpeg" multiple @change="handleFileChange">
            <i class="bi bi-file-earmark-image" data-bs-toggle="tooltip" data-bs-placement="top" title="上傳照片" @click="openFileInput"></i>
        </label>
    </div>

</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:href="@{/MemoryShots/static/lib/chart/chart.min.js}" src="../static/lib/chart/chart.min.js"></script>
<script th:href="@{/MemoryShots/static/lib/easing/easing.min.js}" src="../static/lib/easing/easing.min.js"></script>
<script th:href="@{/MemoryShots/static/lib/waypoints/waypoints.min.js}" src="../static/lib/waypoints/waypoints.min.js"></script>
<script th:href="@{/MemoryShots/static/lib/owlcarousel/owl.carousel.min.js}" src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
<script th:href="@{/MemoryShots/static/lib/tempusdominus/js/moment.min.js}" src="../static/lib/tempusdominus/js/moment.min.js"></script>
<script th:href="@{/MemoryShots/static/lib/tempusdominus/js/moment-timezone.min.js}" src="../static/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script th:href="@{/MemoryShots/static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}" src="../static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script th:href="@{/MemoryShots/static/js/main.js}" src="../static/js/main.js"></script>

<!-- nanogallery2 -->
<link  href="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/3.0.5/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
<script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/3.0.5/jquery.nanogallery2.min.js"></script>

<script th:inline="javascript">
    var nanoGalleryInstance;

    //member_info_init
    var member_info = new Vue({
        el: '#member_info',
        data:{
            member_id : [[${member_id}]],
            member_Name : [[${member_Name}]],
            albumId : [[${albumId}]]
        }
    })

    //member_info_init
    var upload_form = new Vue({
        el: '#upload_form',
        data:{
            files : [],
        },
        methods: {
            openFileInput() {
                this.$refs.fileInput.click();
            },
            handleFileChange(event) {
                this.files = event.target.files;
                this.uploadFiles();
            },
            uploadFiles() {
                const formData = new FormData();
                for (let i = 0; i < this.files.length; i++) {
                    formData.append('files', this.files[i]);
                }

                var url = '/MemoryShots_photo/upload/' + member_info.albumId;
                //console.log("url=>" + url);

                axios.post(url,formData,{
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                    .then(response => {
                        console.log(response.data);
                        call_ajax(1);
                    })
                    .catch(error => {
                        console.error(error);
                    });
            }
        }
    })

    var table = new Vue({
        el: '#table_data',
        data:{
            jsonData: [],
            totalPages : 0, // 總頁數
            currentPage : 1, // 目前頁數
            offset : 0,
            limit : 10, // 每頁筆數
            total : 0 // 總資料筆數
        },
        methods: {
            callAjax(page){
                //更新資料
                call_ajax(page);
                this.currentPage = page;
            },
            editAlbum(item){
                update_album.u_albumId = item.albumId;
                update_album.u_album_name = item.albumName;
                update_album.u_album_desc = item.albumDesc;
            },

        },
    })

    function initNanoGallery(items) {
        nanoGalleryInstance  = $("#nanogallery2").nanogallery2({
            itemsBaseURL: '../static/album/' + member_info.albumId + '/',
            thumbnailWidth: 200,
            thumbnailHeight: 200,
            items: items
        });
    }

    function call_ajax(page){
        var url = '/MemoryShots_photo/getAlbum?albumId=' + member_info.albumId;

        //offset
        var offset = (page - 1) * 21;
        url += '&offset=' + offset;

        console.log("url=>" + url);

        axios.get(url)
            .then(function (response) {
                console.log(JSON.stringify(response));
                table.jsonData = response.data.results;
                table.limit = response.data.limit;
                table.offset = response.data.offset;
                table.total = response.data.total
                table.totalPages = Math.ceil(table.total / table.limit);

                var jsonData = response.data.results;
                var items = [];
                jsonData.forEach(function (item) {
                    var newItem = {
                        src: item.fileName,
                        title: item.fileName
                    };
                    items.push(newItem);
                });

                if (nanoGalleryInstance) {
                    // Destroy the existing gallery instance
                    nanoGalleryInstance.nanogallery2('destroy');
                    nanoGalleryInstance = null;
                }

                initNanoGallery(items);

            })
            .catch(function (error) {
                console.log(error);
            });
    }

    call_ajax(1);

</script>
</body>

</html>